<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Css/style.css" />
    <script type="text/javascript" src="__ROOT__/Js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__ROOT__/Js/ckform.js"></script>
    <script type="text/javascript" src="__ROOT__/Js/common.js"></script>
</head>
<form action="index.html" method="post">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">商品标题</td>
        <td><input type="text" id="title"/></td>
    </tr>
    <tr>
        <td class="tableleft">价格</td>
        <td><input type="text" id="price"/></td>
    </tr>
    <tr>
        <td class="tableleft">商品数量</td>
        <td><input type="text" id="number"/></td>
    </tr>
    <tr>
        <td class="tableleft">商品图片</td>
        <td>
            <div class="file-upload btn btn-info image">
                <span>上传图片</span>
                <input class="upload upload_img" type="file" id='inputfile'>
            </div>
        </td>
    </tr>
    <tr>
        <td class="tableleft">使用规则</td>
        <td><textarea id="rule" rows="6"></textarea></td>
    </tr>
    <tr>
        <td class="tableleft">下架时间</td>
        <td><input type="text" id="expiry_date"/></td>
    </tr>
    <tr>
        <td class="tableleft">券码</td>
        <td class="ticket">
            <div class="file-upload btn btn-info">
                <span>上传文件</span>
                <input class="upload upload_ticket" type="file" id='ticket'>
            </div>
        </td>
    </tr>
    <tr>
        <td class="tableleft">商品链接</td>
        <td><input type="text" id="link_url"/></td>
    </tr>
    <tr>
        <td class="tableleft">短信内容</td>
        <td><textarea id="sms_content" rows="4"></textarea></td>
    </tr>
    <tr>
        <td class="tableleft">商品分类</td>
        <td>
            <select class="selectpicker" data-width="auto" id='good_class'>
                <option value="商品">商品</option>
                <option value="转盘抽奖">转盘抽奖</option>
                <option value="所有">所有</option>
                </if>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tableleft">商品详情</td>
        <td><textarea id="details" rows="6"></textarea></td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <input type="hidden" id="file_url" value="">
            <button type="button" class="btn btn-primary save" type="button">保存</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {
        $(".upload_img").change(function(){
            var data = new FormData();
            //为FormData对象添加数据
            $.each($('#inputfile')[0].files, function(i, file) {
                data.append('upload_file', file);
            });
            $.ajax({
                url:"{:U('uploadImage')}",
                type:'POST',
                data:data,
                cache: false,
                contentType: false,
                processData: false,
                success:function(data){
                    var html    = "<img id='image' src="+data.data+" style='height: 101px;width: 100px'/>";
                    $('.image').html(html);
                    }
            });
        });

        $(".upload_ticket").change(function(){
            var data = new FormData();
            //为FormData对象添加数据
            $.each($('#ticket')[0].files, function(i, file) {
                data.append('ticket', file);
            });
            $.ajax({
                url:"{:U('impTicket')}",
                type:'POST',
                data:data,
                cache: false,
                contentType: false,
                processData: false,
                success:function(data){
                    if(data.status){
                        $('.ticket').html(data.data.name);
                        $('#file_url').val(data.data.url);
                    }
                }
            });
        });

		$('.save').click(function(){
            var title       = $('#title').val();
            var price       = $('#price').val();
            var number      = $('#number').val();
            var image       = $('#image').attr('src');
            var rule        = $('#rule').val();
            var expiry_date = $('#expiry_date').val();
            var ticket      = $('#ticket').val();
            var link_url    = $('#link_url').val();
            var sms_content = $('#sms_content').val();
            var good_class  = $('#good_class').val();
            var details     = $('#details').val();
            var file_url    = $('#file_url').val();
            $.ajax({
                url: "{:U('add')}",
                type:'post',
                datatype:'json',
                data:{'title':title,'price':price,'number':number,'image':image,'rule':rule,'expiry_date':expiry_date,file_url:file_url,
                      'ticket':ticket,'link_url':link_url,'sms_content':sms_content,'details':details,'class':good_class},
                success: function(result){
                    if(result.status){
                        alert('新增成功');
                        window.location.href = "{:U('index')}";
                    }
                }});
		    });


		$('#backid').click(function(){
				window.location.href="__ROOT__/index.html";
		 });

    });
</script>